{% extends 'xenos_admin/base.html' %}
{% block content %}

	<div class="btn-box-row row-fluid">
        <a href="#" class="planinfo btn-box big span4"><b>$ {{total_investment.amount__sum|default:"0"}}</b>
            <p class="text-muted">
               Total Invested</p>
        </a><a href="#" class="planinfo btn-box big span4"></i><b>$ {{request.user.wallet|default:"0"}}</b>
            <p class="text-muted">
                Total Earned</p>
        </a><a href="#" class="planinfo btn-box big span4"></i><b>$ {{amt_available_for_withdrwal|default:"0"}}</b>
            <p class="text-muted">
                Balance</p>
        </a>
    </div>
     {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{message}}</strong>
                </div>
                {%endfor%}
              {% endif %}
    {% if link %}
    <div class="planinfo control-group span8" style="padding:35px">

		<h4>Please click on this link to complete payment for investment: <a href="{{link}}" target="_blank">click here</a></h4>
				<h4 style="color:green">Or use this bitcoin address: {{btc_address}}</h4>
				<strong style="font-size: 20px;">BTC: {{btc_value}}   Dollar: ${{amount}}</strong>
	</div>
	{% endif %}


{% if xenos_link %}
    <div class="planinfo control-group span8" style="padding:35px">

		<h4>Please click on this link to complete payment for bot purchase: <a href="{{xenos_link}}" target="_blank">click here</a></h4>
				<h4 style="color:green">Or use this bitcoin address: {{xenos_btc_address}}</h4>
				<strong style="font-size: 20px;">BTC: {{xenos_btc_value}}   Dollar: ${{xenos_amount}}</strong>
	</div>
	{% endif %}
	<div class="control-group planinfo span3">
		<h3>Please Select Plan to Invest</h3>
		<hr>
		<div class="controls">
			
			<form action="{% url 'office:invest' %}" method="GET">

				<select onchange="this.form.submit()" tabindex="1" value="{% if plan %}{{plan.name}}{%else%}Plan{% endif %}" name="plan" data-placeholder="Select here.." class="">
					<option value="">Plans</option>
					<option value="Basic">Basic Plan</option>
					<option value="Advance">Advance</option>
					<option value="Vip">Vip</option>
				</select>
			</form>
		</div>
	</div>


	{% if plan %}
	
	<div class="planinfo control-group span3" >

		<h3 id="name">{{plan.name}}</h3>
		<hr>
		<p><strong>Investment</strong> : &nbsp; &nbsp; &nbsp;${{plan.minimum}} - {{plan.maximum}} </p>
		<p><strong>Interest</strong> :&nbsp; &nbsp; &nbsp;{{plan.interest}} </p>
		<p><strong>Days</strong> : &nbsp; &nbsp; &nbsp;{{plan.days}} </p>
		<a href="#" class=" btn btn-danger" data-toggle="modal" data-target="#paymentmodal">Pay </a>
	</div>

	
	
	{% endif %}
	<div class="control-group planinfo span3">
		<h3>Purchase Xenos Bot</h3>
		<hr>
		<div class="controls">
			
			<form action="{% url 'office:xenos_pay' %}" method="POST">
				{% csrf_token %}

				
				{{form.bot}}
				<button class="btn btn-danger" type="submit">Submit Request to Purchase Wallet</button> 
					

				
				
			</form>
		</div>
	</div>


	<div class="control-group planinfo span3">
		<h3>Withdraw  </h3>
		<hr>
		<div class="controls">
			
			<form action="{% url 'office:withdraw' %}" method="POST">
				{% csrf_token %}
				<input type="number" name="amount" required id="amount" placeholder="Enter Amount" style="width:100%">
				<input type="text" name="bitaddress" required id="bitaddress" placeholder="Enter Wallet address to receive the money" style="width:100%">
				<button class="btn btn-danger" type="submit">Submit Withdrawal Request</button> 
			</form>
		</div>
	</div>

	<div class="control-group planinfo span3">
		<h3>Pay into Wallet  </h3>
		<hr>
		<div class="controls">
			
			<form action="{% url 'office:pay'%}" method="POST">
				{% csrf_token %}
				
				<button  id="payeer" type="submit"  class="btn btn-danger">Generate Address </button> 
			</form>
		</div>
	</div>

	<div class="planinfo span6">
		<h3>Today's Rate </h3>
		<hr>
	
	<table class="table table-striped">
	  <thead>
		<tr>
		  <th>Plan</th>
		  <th>Percentage</th>
		</tr>
	  </thead>
	  <tbody>
	  	{% for per in percentage %}
		<tr>
		  
		  <td>{{per.plan.name}}</td>
		  <td>{{per.percentage}}</td>
		  
		</tr>
		
		{% endfor %}
		
	  </tbody>
	</table>
</div>

	

	<div class="planinfo span6">
		<h3>Active Investment </h3>
		<hr>
	<table class="table table-striped">
	  <thead>
		<tr>
		  
		  <th>Type</th>
		  <th>Amount</th>
		  <th>Date</th>
		  <th>Profit</th>
		  <th>Status</th>
		  
		</tr>
	  </thead>
	  <tbody>
	  	{% for invest in investment %}
		<tr>
		  
		  <td>{{invest.plan.name}}</td>
		  <td>{{invest.amount}}</td>
		  <td>{{invest.date}}</td>
		  <td>{{invest.profit}}</td>
		  <td class="{{invest.status}}">{{invest.status}}</td>
		</tr>
		{% endfor %}
		
	  </tbody>
	</table>
</div>

	<br />
	<!-- <hr /> -->
	<br />


	<div class="planinfo span6">
		<h3>Latest Transaction </h3>
		<hr>
	<table class="table table-striped">
	  <thead>
		<tr>
		  
		  <th>Type</th>
		  <th>Amount</th>
		  <th>Date</th>
		  <th>Status</th>

		  <th>Info</th>
		  
		</tr>
	  </thead>
	  <tbody>
	  	{% for transaction in pending_transactions %}
		<tr>
		  
		  <td>{{transaction.trans_type}}</td>
		  <td>{{transaction.amount|default:"0"}}</td>
		  <td>{{transaction.created_date}}</td>
		  <td>{{transaction.status}}</td>
		  <td>{{transaction.info}}</td>

		  
		</tr>
		{% endfor %}
		
	  </tbody>
	</table>
</div>

	<br />
	<!-- <hr /> -->
	<br />

	

	

	<div class="modal fade planinfo" id="paymentmodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Enter amount to invest  </h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body ">
		        <div class="control-group">
					<h4>Amount In dollar($) </h4>
					<h3>Plan : {{plan.name}}</h3>
					<h3>Min : {{plan.minimum}}</h3>
					<h3>Max : {{plan.maximum}}</h3>
					<div class="controls">
					<form method="post" action="{% url 'office:invest_pay'%}">	
						{% csrf_token %}
						<input type="hidden"  name='plan' value="{{plan.name}}">
						<input type="number" id="dollar_amount" name='amount' placeholder="Type something here..." style="width:100%">
						
						
					</div>
				</div>


		      </div>
		      <div class="modal-footer">
		      	
		        
		        <button type="submit" class="btn btn-primary" >Pay With Wallet</button>

		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		  </form>
		    </div>
		  </div>
	</div>

	
	</br>
	




{% endblock %}

{% block scripts %}
	<script>
	$('#wallet').click(function(event) {
		
    event.preventDefault();
    plan=$('#name').text()
   	amount=$('#dollar_amount').val();
   	method=$(this).attr('payt_method');
   	
   	if  (amount){
   			
   			a=checkplan(plan,amount)
   			
   			if (a){
   				console.log(a)
   		window.location="{% url 'office:pay'%}?method="+method+"&amount="+amount+"&plan="+plan;
   	}
   	}
   	
   	

});

	function checkplan(plan, value){
		if (plan == 'Basic'){
			if(value <= 1000 && value >= 50){
				console.log('im here');
				return true;
			}
		}
		if (plan == 'Advance'){
			if(value <= 5000 && value >= 1010){
				return true;
			}
		}
		if (plan == 'Vip' ){
			if(value <= 5010 && value >= 100000){
				return true;
			}
		}

	}
</script>
{% endblock %}