{% extends 'main/base.html' %}
{%  block title %}About Xenos {% endblock %}

{% block content %}
      <section class="section-30 section-md-40 section-lg-66 section-xl-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
        <div class="container">
          <div class="page-title">
            <h2>About</h2>
          </div>
        </div>
      </section>

      <section class="section-66 section-md-90 section-xl-bottom-120 bg-whisperapprox">
        <div class="container">
          <h3>About Us</h3>
          <div class="row row-40 justify-content-xl-between align-items-center">
            <div class="col-md-12 col-xl-12 text-secondary">
              <div class="inset-md-right-15 inset-xl-right-0">
                <p>Xenos trading  investment site is a company that caters to people who have always wanted to invest, but have lacked the proper knowledge to do so. We employ an elite team of traders and risk management counselors with over 5 or more years of experience in cryptocurrency and trading, in order to ensure the safety of your money with the highest return of investment as our highest priority.<br>
                 Our team started with private capital and began to make major profits,so we decided to expand to local businesses and private clients. All our clients were satisfied with their daily profits and our trading capital reached over 1.5 million dollars, making it very profitable for both us and our investors. 
                 <br>
               Our team has decided to create a platform where anyone can join and they would be assisted and start daily trading with no risk or prior knowledge needed. Our team has a 100% capital release even in cases of losses. Our website has its own capital, which would let us pay the daily percent and the capital release on time in case of major loses out team is also happy to announce that we are creating our own trading bot with simple interface and presets made for every market type.   </p>
                
              </div>
            </div>

          </div>


            <h3>Introduction to BTC</h3>
          <div class="row row-40 justify-content-xl-between align-items-center">
            <div class="col-md-12 col-xl-12 text-secondary">
              <div class="inset-md-right-15 inset-xl-right-0">
                <p>BTC is more than just a decoration; it is also a lucrative business venture. Next to real estate, BTC is one of the most profitable ventures that you can try, and this is mostly due to the stability in returns for investors.
                <br> One of the interesting similarities between BTC and property is the fact that your taste and preferences determine what you invest in. However, taste alone won’t make you money whether investing in real estate or in BTC; experience also comes in handy if you desire to achieve substantial goals. As a newcomer in the real estate world, making money is very feasible. <br>In fact as a newcomer you come with unique tastes which gives you an extra edge that you bring to the market.
</p>
                
              </div>
            </div>
            
          </div>
        <
      </div>
      </section>


{% endblock %}