{% extends 'main/base.html' %}
{%  block title %}Apply as a Software Developer-Xenos {% endblock %}

{% block content %}

      <section class="section-60 section-md-90">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xl-7">
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{message}}</strong>
                </div>
                {%endfor%}
              {% endif %}
              <h3>Apply As a Developer</h3>
              <p>we will contact you as soon as we can 
You will have to go through a phone interview before getting accepted 
</p>
              <form class=" form-modern" method="post" action="{% url 'main:developer' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row row-seven row-30">
                  <div class="col-md-3">
                    <div class="form-wrap">
                      <input class="form-input" placeholder="Firstname" id="appointment-name" type="text" name="firstname" data-constraints="@Required">
                      
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-wrap">
                      <input class="form-input" placeholder="lastname" id="appointment-name" name="lastname" type="text" data-constraints="@Required">
                      
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-wrap">
                      <input class="form-input" placeholder="email" type="email" name="email" data-constraints="@Email @Required">
                      
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-wrap">
                      <h5>CV Upload</h5>
                      <input class="form-control" name="cv" type="file">
                    </div>
                  </div>
                </div>
                <div class="row row-15 row-seven row-offset-5">
                  <div class="col-4 col-md-5">
                    <button class="button button-primary button-block" type="submit">Send</button>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>


{% endblock %}