{% extends 'main/base.html' %}
{%  block title %}FAQ-Xenos {% endblock %}

{% block content %}

<section class="section-60 section-md-90 section-xl-bottom-120 bg-whisperapprox">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-12">
              <div class="row row-50">
                <div class="col-lg-6">
                  <h3>General Questions</h3>
                  <p>All you need to know about our company and how to get support.</p>
                  <div class="card-group card-group-custom card-group-corporate" id="accordionOne" role="tablist" aria-multiselectable="true">
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading1" role="tab">
                        <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse1" aria-controls="accordionOneCollapse1" aria-expanded="true">Who are we ?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse show" id="accordionOneCollapse1" role="tabpanel" aria-labelledby="accordionOneHeading1">
                        <div class="card-body">
                          <p class="text-gray-05">We are a team of traders and risk analyzers with over 5 or more years of experience in cryptocurrency and trading.
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading2" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse2" aria-controls="accordionOneCollapse2" aria-expanded="false">How long does it take for my deposit to be added to my account?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionOneCollapse2" role="tabpanel" aria-labelledby="accordionOneHeading2">
                        <div class="card-body">
                          <p class="text-gray-05">Your account will be updated as quickly as your money is processed and deposited. 
 
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading3" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse3" aria-controls="accordionOneCollapse3" aria-expanded="false">Can I lose money?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionOneCollapse3" role="tabpanel" aria-labelledby="accordionOneHeading3">
                        <div class="card-body">
                          <p class="text-gray-05">There is always a risk involved with investing, but our site offers a guaranteed return of main investment  in the case of a loss.
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionOneHeading4" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionOne" href="#accordionOneCollapse4" aria-controls="accordionOneCollapse4" aria-expanded="false">How can you guarantee a return on the main investment?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionOneCollapse4" role="tabpanel" aria-labelledby="accordionOneHeading4">
                        <div class="card-body">
                          <p class="text-gray-05">Our website has a separate fund that is traded and cashed out daily. Therefore, in  the case of a loss, we will be able to pay the daily percentage and the capital release. We also take a percent of the daily profit and add it to the website capital.
</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h3>Other Questions</h3>
                  <p>The answers on most common questions are described bellow.</p>
                  <div class="card-group card-group-custom card-group-corporate" id="accordionTwo" role="tablist" aria-multiselectable="true">
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading1" role="tab">
                        <div class="card-title"><a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse1" aria-controls="accordionTwoCollapse1" aria-expanded="true">How much capital will the website require?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse show" id="accordionTwoCollapse1" role="tabpanel" aria-labelledby="accordionTwoHeading1">
                        <div class="card-body">
                          <p class="text-gray-05">The website requires 30 percent of the daily income. 20 percent goes to the safety fund and the other 10 percent goes towards the workers and other expenses.
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading2" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse2" aria-controls="accordionTwoCollapse2" aria-expanded="false">What are pools?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse2" role="tabpanel" aria-labelledby="accordionTwoHeading2">
                        <div class="card-body">
                          <p class="text-gray-05">Our website run on a "pool"  system. This allows us to keep track of all the funds and keep them secure. We currently have 3 trading pools, 2 for our clients and the 3rd is for our safety fund.
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading3" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse3" aria-controls="accordionTwoCollapse3" aria-expanded="false">How long do withdrawals typically take?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse3" role="tabpanel" aria-labelledby="accordionTwoHeading3">
                        <div class="card-body">
                          <p class="text-gray-05">They depend on the block chain speed but mainly takes around 5-15 (unit).
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading4" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse4" aria-controls="accordionTwoCollapse4" aria-expanded="false">When do we get paid ?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse4" role="tabpanel" aria-labelledby="accordionTwoHeading4">
                        <div class="card-body">
                          <p class="text-gray-05">Payments are sent out daily.
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading5" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse5" aria-controls="accordionTwoCollapse5" aria-expanded="false">Why is there only 50k accounts that can be made?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse5" role="tabpanel" aria-labelledby="accordionTwoHeading5">
                        <div class="card-body">
                          <p class="text-gray-05">This website is in its first stages, meaning we only have enough team members to support 50k clients. Our website will reach stage two within three to four months after the first lunch.
</p>
                        </div>
                      </div>
                    </div>
                    <div class="card card-custom card-corporate">
                      <div class="card-heading" id="accordionTwoHeading6" role="tab">
                        <div class="card-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#accordionTwoCollapse6" aria-controls="accordionTwoCollapse6" aria-expanded="false">Can you have multiple accounts ?

                            <div class="card-arrow"></div></a></div>
                      </div>
                      <div class="card-collapse collapse" id="accordionTwoCollapse6" role="tabpanel" aria-labelledby="accordionTwoHeading6">
                        <div class="card-body">
                          <p class="text-gray-05">No. Since we currently have a limit on the number of clients we are accepting, we will have an id check after the registration in order to ensure complete fairness amongst all of our customers. 
</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


{%endblock%}