{% extends 'main/base.html' %}
{%  block title %}Updates - Xenos {% endblock %}

{% block content %}
<section class="section-30 section-md-40 section-lg-66 section-xl-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg); margin-bottom: 30px;">
        <div class="container">
          <div class="page-title">
            <h2>Updates</h2>
          </div>
        </div>
      </section>
{% for post in posts|slice:'0:20' %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12 postcard">
			<h3>{{post.title}}</h3>
			<p>{{post.text}}</p>
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}